:root {
    --text-color: #FFFFFF;
    --hover-color: #B4DBDB;
    --primary: #010730;
    --secondary: #24225A;
    --outfit-font: 'Outfit', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary);
    color: var(--text-color);
}

li {
    list-style: none;
}

img { 
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* Text styles */
.h1 {
    font-family: var(--outfit-font);
    font-size: 3rem;
    text-transform: capitalize;
}

.body {
    font-family: var(--outfit-font);
    font-size: 1.115rem;
}

.subheading {
    font-family: var(--outfit-font);
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* Navbar */
header {
    position: relative;
    font-family: var(--outfit-font);
}

.logo-wrap {
    text-align: center;
    padding: 1em 0;
}

.logo {
    font-size: 2.25rem;
    color: var(--text-color);
    font-family: var(--outfit-font);
    font-weight: bold;
}

.logo:hover {
    color: var(--hover-color);
}

.nav-ul {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--secondary);
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.3s ease;
}

.nav-li {
    font-size: 2rem;
}

.nav-ul.active {
    left: 0;
    overflow: hidden;
    z-index: 3;
}

.nav-a {
    color: var(--text-color);
}

.hamburger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1em;
    z-index: 4;
}

.hamburger.active {
    position: fixed;
    top: 3.5em;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--text-color);
}

/* Hero */
.hero {

}

/* Animations */
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar.bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}



