:root {
    --text-color: #FFFFFF;
    --hover-color: #B4DBDB;
    --first: #010730;
    --second: #24225A;
    --third: #7F7FD6;
    --fourth: #7F7FD691;
    --fifth: #9AD5D6;
    --sixth: #CC8C2D;
    --seventh: #AAD9D9;
    --eighth: #9ADAD6;
    --ninth: #91D2D2;
    --outfit-font: 'Outfit', sans-serif;
    --roboto-font: 'Roboto', sans-serif;
    --marque-width: 100vw;
    --marque-height: 8vh;
    --marque-elements-displayed: 4;
    --marque-element-width: calc(var(--marque-width)/var(--marque-elements-displayed));
    --marque-animation-duration: calc(var(--marque-elements)*4s);
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--first);
    color: var(--text-color);
}

li {
    list-style: none;
}

img { 
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* Text styles */
.h1 {
    font-family: var(--outfit-font);
    font-size: 3rem;
    text-transform: capitalize;
}

.body {
    font-family: var(--roboto-font);
    font-size: 1.115rem;
}

.subheading {
    font-family: var(--outfit-font);
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* Navbar */
header {
    position: relative;
    font-family: var(--outfit-font);
}

.logo-wrap {
    text-align: center;
    padding: 1em 0;
}

.logo {
    font-size: 2.25rem;
    color: var(--text-color);
    font-family: var(--outfit-font);
    font-weight: bold;
}

.logo:hover {
    color: var(--hover-color);
}

.nav-ul {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--second);
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.3s ease;
}

.nav-li {
    font-size: 2rem;
}

.nav-ul.active {
    left: 0;
    overflow: hidden;
    z-index: 3;
}

.nav-a {
    color: var(--text-color);
}

.hamburger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1em;
    z-index: 4;
}

.hamburger.active {
    position: fixed;
    top: 3.5em;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--text-color);
}

/* Hero */
.hero {
    text-align: center;
}

.hero h1 {
    margin-bottom: 0.5em;
}

.hero p {
    margin-bottom: 3em;
}

.hero-right img {
    margin-top: 3em;
}

.circle-one {
    position: absolute;
    right: 0;
    top: 5rem;
    bottom: 0;
    user-select: none;
    z-index: -1;
}

.circle-two {
    position: absolute;
    top: 0;
    left: -50px;
    user-select: none;
    z-index: -1;
}

/* Company */
.marque {
    width: var(--marque-width);
    height: var(--marque-height);
    background-color: var(--second);
    overflow: hidden;
    position: relative;
    user-select: none;
    z-index: -1;
}

.marque-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marque-animation-duration) linear infinite;
    align-items: center;
}

@keyframes scrolling {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(calc(-1*var(--marque-element-width)*var(--marque-elements)));
    }
}

.marque-content li {
    width: var(--marque-element-width);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    white-space: nowrap;
}

.marque-content li img {
    user-select: none;
}

/* Buy */
.buy {
    text-align: center;
}

.buy p {
    margin-bottom: 3em;
}

/* Buy two */
.buy-two {
    text-align: center;
    margin-top: 10em;
}

.buy-two p {
    margin-bottom: 3em;
}

.buy-two img {
    margin-top: 1.5em;
}

/* Testimonials */

.reviews {
    text-align: center;
}

.reviews h1 {
    margin-bottom: 2.5em;
}

.review-title {
    color: var(--seventh);
}

.grid-item {
    background-color: var(--second);
    padding: 4em 2em;
    position: relative;
    margin-bottom: 8em;
}

.grid-img {
    position: absolute;
    top: -5.5rem;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    mix-blend-mode: luminosity;
}

/* Events */
.event {
    text-align: center;
}

.event-wrap {
    background: linear-gradient(120deg, var(--third), var(--fifth));
    padding: 3em;
    border-radius: 37px;
}

.event h1 {
    margin-bottom: 1em;
}

.event .btn {
    background-color: black;
    font-size: 1rem;
}

.event .btn:hover {
    background-color: var(--sixth);
}

/* Footer */
.footer {
    font-family: 'Outfit', sans-serif;
    margin-top: 5em;
}

.footer-col ul li {
    margin-bottom: 1em;
}

.footer-a {
    color: var(--text-color);
    font-weight: 200;
}

.footer-col h4 {
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 1.25rem;
}

.icons ul {
    display: flex;
}

.icons li {
    margin-right: 1em;
}

.icons a:hover {
    color: var(--fifth);
}

.footer-input {
    background-color: var(--second);
    padding: 1em 6em 1em 1.5em;
    border-radius: 100px;
    border: 0;
    outline: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    color: var(--text-color);
    position: relative;
}

.footer-btn {
    position: absolute;
    top: 0;
    left: 16em;
}

.news-wrap {
    position: relative;
}

.footer .btn:hover {
    background-color: var(--sixth);
}

.newsletter {
    margin: 1em 0;
    font: 1.25rem;
}

::placeholder {
    color: var(--text-color);
}

.page-end {
    background: linear-gradient(to right, var(--eighth), var(--ninth));
    width: 100%;
    height: 1vh;
}

/* Animations */
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar.bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Reusables */
.container {
    max-width: 70em;
    width: 90%;
    margin: 0 auto;
    padding: 2em 0;
}

.btn {
    background-color: var(--third);
    color: var(--text-color);
    padding: 1em 1.5em;
    border-radius: 100px;
}

.btn:hover {
    background-color: var(--fourth);
}

.ghost {
    background: none;
    border: 2px solid var(--fourth);
    padding: 1em 1.5em;
    border-radius: 100px;
    color: var(--text-color);
}

.ghost:hover {
    background-color: var(--sixth);
}

.normalizer > *+* {
    margin-top: 1.25rem;
}

/* Media Queries */
@media (max-width: 420px) {
    .btn-wrap {
        display: flex;
        flex-direction: column;
    }

    .btn {
        margin-bottom: 1em;
    }
}