:root {
    --text-color: #FFFFFF;
    --hover-color: #B4DBDB;
    --primary: #010730;
    --secondary: #24225A;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary);
    color: var(--text-color);
    font-family: 'Outfit', sans-serif;
}

li {
    list-style: none;
}

img { 
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* Navbar */
header {
    position: relative;

}

.logo-wrap {
    text-align: center;
    padding: 1em 0;
}

.logo {
    font-size: 2.25rem;
    color: var(--text-color);
    font-weight: bold;
}

.logo:hover {
    color: var(--hover-color);
}

.nav-ul {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--secondary);
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav-a {
    color: var(--text-color);
}

.hamburger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1em;
    z-index: 4;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--text-color);
}

/* Animations */
.hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburguer.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburguer.active .bar.bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}



